<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h1>新增加一本书</h1>
<!--
  <form action="/books" method="POST">
  <input type="text" name="new_name">
  <br/>
  <input type="text" name="new_author">
  <br/>
  <input type="submit" value="确定">
  </form>
-->

<%=render :partial =>"form" %>

<style>
label {
  display: inline-block; width: 5em;
}
    fieldset div {
      margin-bottom: 2em;
    }
    fieldset .help {
      display: inline-block;
    }
    .ui-tooltip {
      width: 210px;
    }
</style>
<script>
$( function() {
  var tooltips = $( "[title]" ).tooltip({
    position: {
      my: "left top",
      at: "right+5 top-5",
      collision: "none"
    }
  });
  $( "#help" )
    .text( "Show help" )
    .button()
    .on( "click", function() {
      tooltips.tooltip( "open" );
    })
} );
</script>
<form>
  <fieldset>
    <div>
      <label for="firstname">Firstname</label>
      <input id="firstname" name="firstname" title="Please provide your firstname.">
    </div>
    <div>
      <label for="lastname">Lastname</label>
      <input id="lastname" name="lastname" title="Please provide also your lastname.">
    </div>
    <div>
      <label for="address">Address</label>
      <input id="address" name="address" title="Your home or work address.">
    </div>
  </fieldset>
</form>
<button id="help"></button>

<style>
input.error{border:1px solid red}
label.error {
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}
</style>

<script>
$("#form").validate({
  rules:{
    "book[name]":"required",
    "book[author]":{
      "required":true,
      "rangelength":[6,10]
    }
  },
  messages:{
    "book[name]":"请输入标题",
    "book[author]":{
      "required":"请输入内容",
      "rangelength":"用户名在6-10位"
    }
  }
});
</script>


<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen:false,
    show: {
      effect: "blind",
      duration: 1000
    },
    hide: {
      effect: "explode",
      duration: 1000
    }
  });

  $( "#opener" ).click(function() {
    $( "#dialog" ).dialog('open');
  });
});
</script>
<div id="dialog" title="弹出框">
  <p>这时一个简单的弹出窗口页面，该页面可以被移动，改变大小，关闭。</p>
</div>
<button id="opener">点击我弹出窗口</button>



<script>
$( function() {
  $( "#datepicker" ).datepicker();
} );
</script>
<p>Date: <input type="text" id="datepicker"></p>
