<h1>新增加一本书</h1>
<!--
<form action="/books" method="POST">
  <input type="text" name="new_name">
  <br/>
  <input type="text" name="new_author">
  <br/>
  <input type="submit" value="确定">
  </form>
-->

<%=render :partial =>"form" %>
<style>
input.error{border:1px solid red}
label.error {
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}
</style>

<script>
$("#form").validate({
  rules:{
    "book[name]":"required",
    "book[author]":{
      "required":true,
      "rangelength":[6,10]
    }
  },
  messages:{
    "book[name]":"请输入用户名",
    "book[author]":{
      "required":"请输入作者姓名",
      "rangelength":"用户名在6-10位"
    }
  }
});
</script>
<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen:false,
    show: {
      effect: "blind",
      duration: 1000
    },
    hide: {
      effect: "explode",
      duration: 1000
    }
  });

  $( "#opener" ).click(function() {
    $( "#dialog" ).dialog('open');
  });
});
</script>
  <div id="dialog" title="弹出框">
    <p>这时一个简单的弹出窗口页面，该页面可以被移动，改变大小，关闭。</p>
  </div>
  <button id="opener">点击我弹出窗口</button>
<script>
$( function() {
  $( "#datepicker" ).datepicker();
} );
</script>
 <p>Date: <input type="text" id="datepicker"></p>
