<h1>新增加一本书</h1>
<!--
<form action="/books" method="POST">
  <input type="text" name="new_name">
  <br/>
  <input type="text" name="new_author">
  <br/>
  <input type="submit" value="确定">
  </form>
-->

<%=render :partial =>"form" %>
